
<div class="page-header">
	<h1>Bodegas</h1>
</div>

<div class="span9">

<%=form_tag(consulta_bodegas_path, :method => :get, :class => 'form-search' )%>
  <input type="text" name="sku" class="input-medium search-query" placeholder="SKU">
  <button type="submit" class="btn">Buscar</button>
</form>

</div>


<h3> <%= "Estado Actual SKU: "+@sku %> </h3>
</br>

<div class="row-fluid">
	<ul class="thumbnails">
	<% @objArray.each do |a| %>
	<li class="thumbnail">
		<div style="width: 220px; height: 220px;" class="caption">
		<h3>Almacén <%= a["almacenId"]%></h3>
		<p>Tipo: <%= a["tipo"] %></p>
		<p>Cantidad: <%= a['cantidad_sku'] %><p>
		</div>
	</li>
	<% end %>
	</ul>
</div>
