<h1>Bodega</h1>
<div>
	<% @objArray.each do |a| %>
	<div style="margin-top=10px;background-color:#C8DDD7">
		<h2>Almacen <%= a["almacenId"]%></h2>
		<p>Capacidad: <%= a["capacidad"] %></p>
		<p>tipo: <%= a["tipo"] %></p>
		<p>bodega: <%= a["bodegaId"] %></p>
		<p>longitud: <%= a["lon"] %></p>
		<p>latitud: <%= a["lat"] %></p>
	</div>
	<% end %>
</div>

<% @stock.each do |b| %>
	<% if(b["almacenId"]==55)%>
		<p><%=b["almacenId"]%></p>
	<% end %>
<% end %>
