
<div class="page-header">
	<h1>Bodegas</h1>
</div>

<div class="row-fluid">
	<ul class="thumbnails">
	<% @objArray.each do |a| %>
	<li class="thumbnail">
		<div style="width: 220px; height: 220px;" class="caption">
		<h3>Almacén <%= a["almacenId"]%></h3>
		<p>Capacidad: <%= a["capacidad"] %></p>
		<p>Tipo: <%= a["tipo"] %></p>
		<p>Bodega: <%= a["bodegaId"] %></p>
		<p>Latitud: <%= a["lat"] %></p>
		<p>Longitud: <%= a["lon"] %></p>
		</div>
	</li>
	<% end %>
	</ul>
</div>
