<%- model_class = Reserva -%>

<div class="page-header">
	<h1>Reservas</h1>
</div>


<%= paginate @reservas %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:sku) %></th>
      <th><%= model_class.human_attribute_name(:cantidad) %></th>
    </tr>
  </thead>
  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.sku %></td>
        <td><%= reserva.cantidad %></td>
    <% end %>
  </tbody>
</table>

<%= paginate @reservas %>
