<%- model_class = Transaccion -%>

<div class="page-header">
	<h1>Transacciones</h1>
</div>


<%= paginate @transacciones %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ruta) %></th>
      <th><%= model_class.human_attribute_name(:monto) %></th>
      <th><%= model_class.human_attribute_name(:pedido_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @transacciones.each do |transaccion| %>
      <tr>
        <td><%= transaccion.id %></td>
        <td><%= link_to "Ver ruta", pedido_path(transaccion.pedido)%></td>
        <td><%= transaccion.monto %></td>
        <td><%= transaccion.pedido_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @transacciones %>
