<div class="page-header">
	<h1>Sistema central</h1>
</div>

<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Pedidos", pedidos_path  %></li>
  <li><%= link_to "Bodegas", bodegas_path  %></li>
  <li><%= link_to "Reservas", reservas_path  %></li>
  <li><%= link_to "Transacciones", transacciones_path  %></li>
  <li><%= link_to "Vtiger", 'http://integra1.ing.puc.cl/vtigercrm/'  %></li>
</ul>